<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  
     <bean id="Emp" class="com.ash.practice.Employee" init-method="init" scope="prototype">
        <!-- <property name="id" value="12"></property>
        <property name="name" value="Ramu"></property>
        <property name="salary" value="50034"></property>
     </bean> -->
      <constructor-arg value="12"></constructor-arg>
      <constructor-arg value="Shyam"></constructor-arg>
      <constructor-arg value="20000"></constructor-arg>
    </bean>
  </beans>