<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id="emp" class="com.asd.radhe.Employee" autowire="byName">
    <property name="id" value="123"></property>
    <property name="name" value="Ritik"></property>
    <property name="salary" value="50000"></property>
  </bean>
  </beans>