<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
  https://www.springframework.org/schema/beans/spring-beans.xsd">

    
      
    <!-- Address bean -->
    <bean id="add" class="com.ash.demo.Address">
        <property name="pincode" value="473443"/>
        <property name="loc" value="Mungaoli"/>
    </bean>

    <!-- SalesManager bean (autowire byType) -->
    <bean id="Em" class="com.ash.demo.SalesManager" autowire="byType">
        <property name="id" value="12"/>
        <property name="name" value="Ritik"/>
        <property name="salary" value="24000"/>
    </bean>

  </beans>